* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.btn {
  color: #fff;
  background-color: #005dff;
  width: 100%;
  padding: 20px;
}

body, html {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #110931;
}

body .bg {
  -webkit-clip-path: polygon(100% 0, 100% 79%, 50% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 79%, 50% 100%, 0 100%, 0 0);
  background-color: #005dff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

@media (min-width: 992px) {
  body .bg {
    -webkit-clip-path: polygon(0 0, 77% 0, 55% 100%, 0% 100%);
            clip-path: polygon(0 0, 77% 0, 55% 100%, 0% 100%);
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#page-container .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.507);
  z-index: 2;
}

#page-container .overlay .content {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.267);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.267);
  padding: 40px;
}

#page-container #content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding-bottom: 5.5rem;
}

#page-container #content-wrap .head h1 {
  text-transform: uppercase;
  font-size: 4em;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.267);
}

#page-container #content-wrap .head h2 {
  text-transform: capitalize;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.267);
}

#page-container #content-wrap .content {
  background: #fff;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.267);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.267);
  padding: 3rem;
  border-radius: 5px;
}

#page-container #content-wrap .content .card h4 {
  font-size: 18px;
  font-weight: bolder;
}

#page-container #content-wrap .content .card .box {
  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-container #content-wrap .content .card .box:hover {
  border: solid 2px #999;
  background-color: #fff6bb;
}

#page-container #content-wrap .content .card .box:hover .circle {
  border: solid 6px #000;
}

#page-container #content-wrap .content .card .box .circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: solid 1px #ccc;
}

#page-container #content-wrap .content .card .box .txt {
  padding-left: 10px;
}

#page-container #content-wrap .content .card .box .txt .title {
  font-weight: bold;
}

#page-container #footer {
  position: fixed;
  bottom: 0;
  height: 5.5rem;
  width: 100%;
  background: #333;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */