$brdr: solid 1px #999;
$brdr-bld: solid 2px #999;
$blu: rgb(17, 9, 49);
$brdr-rad: 5px;
$bp-mob: 480px;
$bp-tab: 768px;
$bp-dt: 960px;
$bp-sup: 1260px;



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.btn {
    color: #fff;
    background: $blu;
    width: 100%;
    padding: 20px;
}

body {
    // background: rgb(185, 202, 247);
    background: url('https://images.unsplash.com/photo-1497375638960-ca368c7231e4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1325&q=80') no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: $blu;
}

#page-container {
    position: relative;
    min-height: 100vh;

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.507);
        z-index: 2;

        .content {
            width: 100%;
            background: #fff;
            border-radius: $brdr-rad;
            box-shadow: 5px 10px 20px  rgba(0, 0, 0, 0.267);
            padding: 40px;

        }

    }



    #content-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-bottom: 5.5rem;

            .head {
                h1 {
                    text-transform: uppercase;
                    font-size: 5rem;
                    font-weight: bold;
                    color: #fff;
                    text-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.267);
                }
            }

        .content {
            background: #fff;
            border-radius: $brdr-rad;
            box-shadow: 5px 10px 20px  rgba(0, 0, 0, 0.267);
            padding: 60px;

            .card {
                h4 {
                    font-size: 18px;
                    font-weight: bolder;
                }
                .box {
                    border: $brdr;
                    padding: 10px;
                    border-radius: $brdr-rad;
                    margin: 10px 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    &:hover {
                        border: $brdr-bld;
                        background: rgb(242, 242, 255);

                        .circle {
                            border: solid 6px #000;
                        }
                    }

                    .circle {
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        border: $brdr;
                    }

                    .txt {
                        padding-left: 10px;

                        .title {
                            font-weight: bold;
                        }
                    }
                }

            }
        }
    }

    #footer {
        position: fixed;
        bottom: 0;
        height: 5.5rem;
        width: 100%;
        background: #333;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}