$brdr: solid 1px #ccc;
$brdr-bld: solid 2px #999;
$blu: rgb(17, 9, 49);
$colors: (
    primary: #005dff,
    primary-light: lighten(#005dff, 40%),
    accent: #fff6bb
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}




$brdr-rad: 5px;
$bp-mob: 480px;
$bp-tab: 768px;
$bp-dt: 992px;
$bp-sup: 1260px;

@mixin desktop {
    @media (min-width: #{$bp-dt}) {
        @content;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.btn {
    color: #fff;
    background-color: color(primary);
    width: 100%;
    padding: 20px;
}

body, html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $blu;

    .bg {
        clip-path: polygon(100% 0, 100% 79%, 50% 100%, 0 100%, 0 0);
        background-color: color(primary);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;

        @include desktop {
            clip-path: polygon(0 0, 77% 0, 55% 100%, 0% 100%);

        }
    }
}

#page-container {
    position: relative;
    min-height: 100vh;

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.507);
        z-index: 2;

        .content {
            width: 100%;
            background: #fff;
            border-radius: $brdr-rad;
            box-shadow: 5px 10px 20px  rgba(0, 0, 0, 0.267);
            padding: 40px;

            .cc {
                background: #eee;
                height: 150px;
                border-radius: $brdr-rad;
                padding: 15px;
                margin-bottom: 20px;

                .fa-cc-visa {
                    padding-bottom: 20px;
                }
                
            }
            .fa-times-circle {
                    color: #ccc;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                }
        }

    }



    #content-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-bottom: 5.5rem;

            .head {
                h1 {
                    text-transform: uppercase;
                    font-size: 4em;
                    font-weight: bold;
                    color: #fff;
                    text-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.267);
                }

                h2 {
                    text-transform: capitalize;
                    font-size: 2em;
                    font-weight: bold;
                    color: #fff;
                    text-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.267);
                }
            }

        .content {
            background: #fff;
            box-shadow: 5px 10px 20px  rgba(0, 0, 0, 0.267);
            padding: 3rem;
            border-radius: $brdr-rad;

            .card {
                h4 {
                    font-size: 18px;
                    font-weight: bolder;
                }
                .box {
                    border: $brdr;
                    padding: 10px;
                    border-radius: $brdr-rad;
                    margin: 10px 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    &:hover {
                        border: $brdr-bld;
                        background-color: map-get($colors, accent);

                        .circle {
                            border: solid 6px #000;
                        }
                    }

                    .circle {
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        border: $brdr;
                    }

                    .txt {
                        padding-left: 10px;

                        .title {
                            font-weight: bold;
                        }
                    }
                }

            }
        }
    }

    #footer {
        position: fixed;
        bottom: 0;
        height: 5.5rem;
        width: 100%;
        background: #333;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}